<div class="container">
    <div class="left-panel">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png " id="profile-icon"/>
        <h4> Lourenz Baniqued </h4>
        <p> Student </p>
        <a href="/profile_edit"><button type="button" id="edit-btn">Edit Personal Details</button></a>
        <a href="/main"><button type="button" id="back-btn">Back to Home</button></a>
    </div>
    <div class="right-panel">
        <div class="info">
            <h3 class="title-info">Information</h3>
            <div class="info-data">
                <div class="data">
                    <h4>First Name</h4>
                    <p>Lourenz Jhay</p>
                    <h4>Last name</h4>
                    <p>Baniqued</p>
                    <h4>Middle Name</h4>
                    <p>Geralde</p>
                    <h4>Email</h4>
                    <p>lourenz_baniqued@dlsu.edu.ph</p>
                </div>
                <div class="data">
                    <h4>Phone Number</h4>
                    <p> 09292334649 </p>
                    <h4>Department</h4>
                    <p> CCS </p>
                    <h4>Address</h4>
                    <p> Laguna </p>
                    <h4>Birthdate</h4>
                    <p> 07/12/2003 </p>
                </div>
            </div>
        </div>
        <div class="reservations">
            <h3 class="title-info">Reservations Data</h3>
            <div class="reservation-data">
                <div class="data">
                    <h4>Recent Seat</h4>
                    <p> Lab#1 A3 </p>
                    <h4>Preffered Lab</h4>
                    <p> Lab#1 </p>
                    <h4>Time Spent</h4>
                    <p> 01:23:04 </p>
                </div>
                <div class="data">
                    <h4>Recent used date</h4>
                    <p>  02/15/2024 </p>
                    <h4>Preffered Time</h4>
                    <p>  9:30am - 10:30am </p>
                    <h4>Current Seat</h4>
                    <p>  Lab#1 C3 </p>
                </div>
            </div>
        </div>
        <div class="social-media">
            <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        </div>
    </div>
</div>